/*************************************************************************
                           MEDIA QUERIES
/*************************************************************************/

@media only screen and (min-width: $media-query-med-1) {
 
  .paginator li {
    display: inline-block;
  }

  .sep {
    display: block;
  }

  .paginator ul {
    max-width: none;
  }

  #main-nav ul li {
    display: inline-block;
  }
}

@media only screen and (min-width: $media-query-med-2) {
  html {
    font-size: $f-s-tablet;
  }
}

@media only screen and (min-width: $media-query-max) {
  html {
    font-size: $f-s-desktop;
  }

}

@media only screen and (min-width: $media-query-max-extra) {




}


